<h1>Small Exercise</h1>
<div class="example">
    <h3>Delay Function Example</h3>
    <p>Enter the delay time in milliseconds</p>
    <p>Ex: 5000</p>
    <input [disabled]="wait" #timing>
    <button *ngIf="!wait" (click)="runDelay(timing.value)">Delay function</button>
    <div *ngIf="wait">Waiting for promise to return</div>
</div>
<div class="example">
    <h3>Animation Example</h3>
    <div class=animate #el>Animate Me!</div>
    <button (click)="animateRight(el)">Animate</button>
    <button (click)="resetAnimation(el)">Reset Animation</button>
</div>
<div class="example">
    <h3>Duplicates in Array Example</h3>
    <textarea #xs></textarea>
    <p>Build your array with comma separated values</p>
    <button (click)="duplicateHelper(xs.value)">Remove Duplicates</button>   
    <div *ngIf="this.arrayInput.length>0">Input: [{{this.arrayInput}}]</div>
    <div *ngIf="this.parsedArray.length>0">Result: [{{this.parsedArray}}]</div>
</div>


